<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <button type="button" class="btn btn-outline-success" onclick="saveReq()">글작성</button>
    <button type="button" class="btn btn-outline-info" onclick = "listReq()">글목록</button>
    <button type="button" class="btn btn-outline-primary" onclick = "pagingReq()">페이징목록</button>
    <!--    <a href = "/board/save">글작성(링크)</a>-->
</body>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }
    const listReq = () => {
        location.href = "/board/lists";
    }
    const pagingReq = () => {
        location.href = "/board/paging";
    }
</script>
</html>